In [1]:
#%pip install yahoofinancials
import pandas as pd
import yfinance as yf
import yahoofinancials

In [2]:

tsla_df = yf.download('TSLA', 

                      start='2019-01-01', 

                      end='2019-12-31', 

                      progress=False)

tsla_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,306.100006,315.130005,298.799988,310.119995,310.119995,11658600
2019-01-03,307.000000,309.399994,297.380005,300.359985,300.359985,6965200
2019-01-04,306.000000,318.000000,302.730011,317.690002,317.690002,7394100
2019-01-07,321.720001,336.739990,317.750000,334.959991,334.959991,7551200
2019-01-08,341.959991,344.010010,327.019989,335.350006,335.350006,7008500